# London Bike Sharing Project
- Exploratory Data Analysis (EDA)
- Data Cleaning

In [15]:
# importing pandas library
import pandas as pd

In [77]:
# reading csv
bikes = pd.read_csv('london_merged.csv')
bikes.head()

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0

In [79]:
# exploring dataset
bikes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   timestamp     17414 non-null  object
 1   cnt           17414 non-null  int64
 2   t1            17414 non-null  float64
 3   t2            17414 non-null  float64
 4   hum           17414 non-null  float64
 5   wind_speed    17414 non-null  float64
 6   weather_code  17414 non-null  float64
 7   is_holiday    17414 non-null  float64
 8   is_weekend    17414 non-null  float64
 9   season        17414 non-null  float64
dtypes: float64(8), int64(1), object(1)
memory usage: 1.3+ MB

In [81]:
bikes.shape

(17414, 10)

In [83]:
# counting unique values for weather code column
bikes.weather_code.value_counts()

weather_code
1.0     6150
2.0     4034
3.0     3551
7.0     2141
4.0     1464
26.0      60
10.0      14
Name: count, dtype: int64

In [85]:
# counting unique values for season column
bikes.season.value_counts()

season
0.0    4394
1.0    4387
3.0    4330
2.0    4303
Name: count, dtype: int64

In [86]:
# renaming column names
new_cols_dict ={
    'timestamp':'time',
    'cnt':'count', 
    't1':'temp_real_C',
    't2':'temp_feels_like_C',
    'hum':'humidity_percent',
    'wind_speed':'wind_speed_kph',
    'weather_code':'weather'
}
bikes.rename(new_cols_dict, axis=1, inplace=True)

In [89]:
bikes.head()

,time,count,temp_real_C,temp_feels_like_C,humidity_percent,wind_speed_kph,weather,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0

In [91]:
# turning humidity values to percentages
bikes.humidity_percent = bikes.humidity_percent / 100

In [93]:
bikes.head()

,time,count,temp_real_C,temp_feels_like_C,humidity_percent,wind_speed_kph,weather,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,0.930,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,0.930,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,0.965,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,1.000,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,0.930,6.5,1.0,0.0,1.0,3.0

In [95]:
# season dictionary mapping season column values to written season values
season_dict = {
    '0.0':'spring',
    '1.0':'summer',
    '2.0':'autumn',
    '3.0':'winter'
}

# weather dictionary mapping weather column values to written weather values
weather_dict = {
    '1.0':'Clear',
    '2.0':'Scattered clouds',
    '3.0':'Broken clouds',
    '4.0':'Cloudy',
    '7.0':'Rain',
    '10.0':'Rain with thunderstorm',
    '26.0':'Snowfall'
}

# converting season column datatype to string
bikes.season = bikes.season.astype('str')
# mapping season values
bikes.season = bikes.season.map(season_dict)

# converting season column datatype to string
bikes.weather = bikes.weather.astype('str')
# mapping weather values
bikes.weather = bikes.weather.map(weather_dict)

bikes.head()

,time,count,temp_real_C,temp_feels_like_C,humidity_percent,wind_speed_kph,weather,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,0.930,6.0,Broken clouds,0.0,1.0,winter
1,2015-01-04 01:00:00,138,3.0,2.5,0.930,5.0,Clear,0.0,1.0,winter
2,2015-01-04 02:00:00,134,2.5,2.5,0.965,0.0,Clear,0.0,1.0,winter
3,2015-01-04 03:00:00,72,2.0,2.0,1.000,0.0,Clear,0.0,1.0,winter
4,2015-01-04 04:00:00,47,2.0,0.0,0.930,6.5,Clear,0.0,1.0,winter

In [97]:
# exploring is_holiday & is_weekend values

In [99]:
bikes['is_holiday'].value_counts()

is_holiday
0.0    17030
1.0      384
Name: count, dtype: int64

In [101]:
bikes['is_weekend'].value_counts()

is_weekend
0.0    12444
1.0     4970
Name: count, dtype: int64

In [103]:
# converting is_holiday & is_weekend values from 1/0 to Yes/No

In [105]:
# map for columns values
bool_dict = {'0.0':'No', '1.0':'Yes'}

# converting columns datatypes to str
bikes.is_holiday = bikes.is_holiday.astype('str')
bikes.is_weekend = bikes.is_weekend.astype('str')

# mapping columns values to Yes/No
bikes.is_holiday = bikes.is_holiday.map(bool_dict)
bikes.is_weekend = bikes.is_weekend.map(bool_dict)

bikes.head()

,time,count,temp_real_C,temp_feels_like_C,humidity_percent,wind_speed_kph,weather,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,0.930,6.0,Broken clouds,No,Yes,winter
1,2015-01-04 01:00:00,138,3.0,2.5,0.930,5.0,Clear,No,Yes,winter
2,2015-01-04 02:00:00,134,2.5,2.5,0.965,0.0,Clear,No,Yes,winter
3,2015-01-04 03:00:00,72,2.0,2.0,1.000,0.0,Clear,No,Yes,winter
4,2015-01-04 04:00:00,47,2.0,0.0,0.930,6.5,Clear,No,Yes,winter

In [119]:
# dropping duplicates if any
bikes.drop_duplicates(inplace=True)

In [123]:
bikes.shape

(17414, 10)

In [125]:
# saving final dataframe to excel sheet for visualization via Tableau
bikes.to_excel('london_bikes_final.xlsx', sheet_name='Data')